@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--base-font: 'Inter';
		@apply scroll-p-8 overflow-x-hidden overflow-y-scroll bg-gray-100;
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply !outline-none;
	}

	.no-js {
		display: none !important;
	}

	.hide-scroll::-webkit-scrollbar,
	.hide-scroll::-webkit-scrollbar-thumb {
		background: transparent;
		-webkit-appearance: none;
		display: none;
	}

	details > summary {
		list-style: none;
	}

	details > summary::marker,
	details > summary::-webkit-details-marker {
		display: none;
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}
}
