@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--base-font: 'Inter';
		@apply scroll-p-8 overflow-x-hidden bg-gray-100;
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}

	body {
		@apply !outline-none;
	}

	.no-js {
		display: none !important;
	}

	.hide-scroll::-webkit-scrollbar,
	.hide-scroll::-webkit-scrollbar-thumb {
		background: transparent;
		-webkit-appearance: none;
		display: none;
	}
}
